@page
@model wtmPageModel
@{
   ViewData["Title"] = "Watermark";
   
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
           
            <input type="hidden" asp-for="image.Id" />
           
            <div class="form-group">
            <label asp-for="image.imgURL" class="control-label"></label>
            <input asp-for="image.imgURL" class="form-control" />
            <span asp-validation-for="image.imgURL" class="text-danger"></span>
        <img src=@Request.Query["imgURL"]>

        </div>
            
            <div class="form-group">
          <div class="form-group">
            <label asp-for="image.imgTitle" class="control-label" ></label>
            <input asp-for="image.imgTitle" class="form-control" />
            <span asp-validation-for="image.imgTitle" class="text-danger"></span>
        </div>     
                 
            </div>
          
            <div class="form-group">
                <input type="submit" value="Watermark" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
